<mat-form-field appearance="fill" color="accent" class="sp-search">
  <mat-label>Szukaj</mat-label>
  <input matInput placeholder="Szukaj">
  <mat-icon matSuffix>search</mat-icon>

</mat-form-field>
<div class="sp-dark-theme">
<div class="sp-sidenav-buttons">
  <button mat-button color="accent">
    <mat-icon>add_circle</mat-icon> DODAJ OGŁOSZENIE
  </button>
  <button mat-button color="primary">
    <mat-icon>view_list</mat-icon> TWOJE OGŁOSZENIA
  </button>
  <button mat-button color="primary">
    <mat-icon>help</mat-icon> COŚ JESZCZE
  </button>
  <button mat-button color="primary">
    <mat-icon>face</mat-icon> I JESZCZE COŚ
  </button>
</div>
</div>